BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Regroup
SortIncludes: true
SpaceBeforeParens: ControlStatements
